---
import { cn } from "@lib/utils";

interface Props {
  href: string;
  external?: boolean;
  underline?: boolean;
  "aria-label"?: string;
  className?: string;
}

const { href, external, underline = true, className = "" } = Astro.props;
---

<a 
  href={href}
  target={external ? "_blank" : undefined}
  rel={external ? "noopener noreferrer" : undefined}
  class={className}
  {...Astro.props}
>
  <slot />
</a>